<div class="flex w-screen h-screen justify-center items-center">
  <ul class="flex gap-10">
    <li><a href="/page-one" class="p-3 hover:bg-slate-400">Page 1</a></li>
    <li><a href="/page-two" class="p-3 hover:bg-slate-400">Page 2</a></li>
    <li><a href="/page-three" class="p-3 hover:bg-slate-400">Page 3</a></li>
    <li><a href="/page-four" class="p-3 hover:bg-slate-400">Page 4</a></li>
  </ul>
</div>
